.filteringSorting {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filteringSorting form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filteringSorting input[type="text"],
.filteringSorting select {
    flex: 1 1 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.filteringSorting button {
    margin-left: 5px;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.filteringSorting button:hover {
    background-color: #45a049;
}